{% block airlines %} {% load static %}

<!-- Top Airlines Section -->
<section class="py-5 bg-light text-center">
  <div class="container">
    <h2 class="mb-4">Top Airlines Are With Us</h2>
    <hr />
    <div class="row justify-content-center g-3">
      {% for i in airlines_list %}
      <div class="col-6 col-md-2">
        <img
          src="{{i.image.url}}"
          style="height: 100px; padding:2rem !important;"
          class="img-fluid  cover border rounded p-3"
          alt="{{i.airlines_name}}"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock airlines %}
